services:
  tracker-redis:
    image: docker.io/library/redis:8.2@sha256:1c589f39ec5bb0c553d680b6d7eed3b6e3686b24f87f480dabdd1e64c849aba2
    restart: unless-stopped
    container_name: tracker-redis
    command: [ "redis-server", "--requirepass", "mbta"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  mosquitto:
    image: eclipse-mosquitto:2.0.22@sha256:fd9982f5ed92a6c2a90805601d2275f8fbd7f2d47c4cb3836f7db0bdc7a91bec
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "./mosquitto/passwd:/etc/mosquitto/password_file"
      - "./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf"

volumes:
  redis_data:
