services:
  tracker-redis:
    image: docker.io/library/redis:8.6@sha256:5cb00b0f236e286254ce9f3eea989b00bb69d04fb9b6c9a9d0b07e588e49f44e
    restart: unless-stopped
    container_name: tracker-redis
    command: [ "redis-server", "--requirepass", "mbta"]
    ports:
      - "6379:6379"
    volumes:
      - "redis_data:/data"
  mosquitto:
    image: eclipse-mosquitto:2.0.22@sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "./mosquitto/passwd:/etc/mosquitto/password_file"
      - "./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf"

volumes:
  redis_data:
