{
  "stops": [
    {
      "stop_id": "place-sstat",
      "route_filter": "",
      "direction_filter": -1,
      "transit_time_min": 15,
      "schedule_only": false,
      "show_on_display": true
    }
  ],
  "vehicles_by_route": ["Red", "Orange", "Blue", "Green"],
  "vehicle_git_repo": null,
  "vehicle_git_user": null,
  "vehicle_git_token": null,
  "vehicle_git_email": null,
  "enable_track_predictions": false,
  "track_prediction_routes": null,
  "track_prediction_stations": null,
  "track_prediction_interval_hours": 2
}
